* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-width: 250px;
}

@font-face {
  font-family: SFPRODISPLAYREGULAR;
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}
.link {
  color: rgb(0, 153, 255);
}

.biLinkChevron {
  width: 10px;
  height: 10px;
  fill: rgb(0, 153, 255);
}

.link:hover span {
  text-decoration: underline;
}

nav {
  width: 100%;
  height: 45px;
  padding: 0 15px 0 15px;
  background-color: rgba(15, 15, 15, 0.8431372549);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
nav .hamburguerMenu {
  width: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .hamburguerMenu .stick {
  width: 18px;
  height: 1px;
  background-color: rgb(182, 182, 182);
}
nav .hamburguerMenu .stick-1 {
  margin-bottom: 5px;
}
nav .hambuergerMenu__stick1-addAnimation {
  margin-bottom: 0px !important;
  -webkit-animation-name: stick1-addAnimation;
          animation-name: stick1-addAnimation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes stick1-addAnimation {
  100% {
    transform: rotate(45deg);
    transform-origin: center;
    position: fixed;
  }
}
@keyframes stick1-addAnimation {
  100% {
    transform: rotate(45deg);
    transform-origin: center;
    position: fixed;
  }
}
nav .hambuergerMenu__stick2-addAnimation {
  -webkit-animation-name: stick2-addAnimation;
          animation-name: stick2-addAnimation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes stick2-addAnimation {
  100% {
    transform: rotate(-45deg);
    transform-origin: center;
  }
}
@keyframes stick2-addAnimation {
  100% {
    transform: rotate(-45deg);
    transform-origin: center;
  }
}
nav .bi-apple, nav .bi-list, nav .bi-search, nav .bi-bag {
  font-size: 14px;
  color: rgb(182, 182, 182);
  cursor: pointer;
}
nav .menu, nav .bi-search {
  display: none;
}
nav .navMenuAddAnimation {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 3;
  -webkit-animation-name: navAddAnimation;
          animation-name: navAddAnimation;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes navAddAnimation {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}
@keyframes navAddAnimation {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}
nav .navMenuAddAnimation .inputContainer {
  width: 100%;
  height: 10vh;
  padding: 0 8% 0 8%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(190, 190, 190);
}
nav .navMenuAddAnimation .inputContainer .bi-search {
  width: 8%;
  height: 50%;
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}
nav .navMenuAddAnimation .inputContainer input {
  width: 92%;
  height: 50%;
  padding-left: 5px;
  background-color: rgb(32, 32, 32);
  font-size: 18px;
  color: rgb(182, 182, 182);
  border: 0px;
  border-radius: 0 10px 10px 0;
}
nav .navMenuAddAnimation .linksContainer {
  width: 100%;
  height: 90vh;
  margin-top: 1%;
  padding: 0 8% 0 8%;
  display: flex;
  flex-direction: column;
}
nav .navMenuAddAnimation .linksContainer a {
  width: auto;
  height: 7%;
  margin: 1% 0 1% 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: rgb(182, 182, 182);
  text-decoration: none;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.navToggle {
  background-color: black;
}

@media screen and (min-width: 835px) {
  nav {
    justify-content: center;
  }
  nav .bi-list {
    display: none;
  }
  nav .hamburguerMenu {
    display: none;
  }
  nav .bi-apple {
    font-size: 18px;
  }
  nav .menu {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  nav .menu .linksContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav .menu a {
    font-size: 12px;
    color: rgb(182, 182, 182);
    text-decoration: none;
  }
  nav .menu .inputContainer {
    display: none;
  }
  nav .bi-search {
    margin-left: 25px;
    margin-right: 30px;
    display: block;
  }
  nav a:hover {
    color: rgb(230, 230, 230);
  }
  nav .bi:hover {
    color: rgb(230, 230, 230);
  }
}
footer {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: whitesmoke;
}
footer .footerTextContainer {
  width: 100%;
  min-height: 20vh;
  height: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(190, 190, 190);
}
footer .footerTextContainer p {
  font-size: 14px;
  color: rgb(136, 136, 136);
}
footer .servicesContainer {
  width: 100%;
  min-height: 60vh;
  height: auto;
}
footer .servicesContainer .elementsContainer {
  width: 100%;
  min-height: 40px;
  height: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(190, 190, 190);
}
footer .servicesContainer .elementsContainer .elements {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .servicesContainer .elementsContainer .elements p {
  font-size: 14px;
  color: rgb(80, 80, 80);
}
footer .servicesContainer .elementsContainer .elements .transformSumSign {
  -webkit-animation-name: sumSignRotation;
          animation-name: sumSignRotation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes sumSignRotation {
  to {
    transform: rotate(45deg);
  }
}
@keyframes sumSignRotation {
  to {
    transform: rotate(45deg);
  }
}
footer .servicesContainer .container__menu {
  display: none;
}
footer .servicesContainer .container__menu a {
  margin-bottom: 2%;
  font-size: 14px;
  color: rgb(80, 80, 80);
}
footer .servicesContainer .showFooterMenu {
  width: 100%;
  height: auto;
  padding: 2% 0 2% 3%;
  display: flex;
  flex-direction: column;
}
footer .bottom {
  width: 100%;
  min-height: 25vh;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 20% 40%;
  grid-template-areas: "textContainer" "country" "legalsContainer";
  justify-content: center;
  align-items: center;
}
footer .bottom .textContainer {
  grid-area: textContainer;
  min-height: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
footer .bottom .textContainer p {
  font-size: 14px;
  color: rgb(136, 136, 136);
}
footer .bottom .textContainer a {
  font-size: 14px;
}
footer .bottom .legalsContainer {
  grid-area: legalsContainer;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
footer .bottom .legalsContainer .copyrightContainer {
  width: 100%;
  height: 30%;
}
footer .bottom .legalsContainer .copyrightContainer p {
  font-size: 14px;
  color: rgb(136, 136, 136);
}
footer .bottom .legalsContainer .linksContainer {
  width: 100%;
  height: 70%;
}
footer .bottom .legalsContainer .linksContainer a {
  width: 70px;
  height: auto;
  padding: 0 10px 0 10px;
  border-right: 1px solid rgb(196, 196, 196);
  color: rgb(94, 94, 94);
}
footer .bottom .legalsContainer .linksContainer .SS {
  padding-left: 0;
}
footer .bottom .country {
  grid-area: country;
}
footer .bottom .country p {
  color: rgb(94, 94, 94);
}

@media screen and (min-width: 735px) {
  footer {
    padding: 15px 12.5% 15px 12.5%;
  }
  footer .footerTextContainer {
    min-height: 20vh;
    height: auto;
  }
  footer .servicesContainer {
    width: 100%;
    min-height: 75vh;
    height: auto;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "elementsContainer-1 elementsContainer-2 elementsContainer-4 elementsContainer-5 elementsContainer-9" "elementsContainer-1 elementsContainer-2 elementsContainer-4 elementsContainer-6 elementsContainer-9" "elementsContainer-1 elementsContainer-2 elementsContainer-4 elementsContainer-7 elementsContainer-10" "elementsContainer-1 elementsContainer-3 elementsContainer-4 elementsContainer-8 elementsContainer-10" "elementsContainer-1 elementsContainer-3 elementsContainer-4 elementsContainer-8 elementsContainer-10";
  }
  footer .servicesContainer .elementsContainer {
    height: 100%;
    padding-right: 0px;
    display: block;
    border-bottom: none;
  }
  footer .servicesContainer .elementsContainer .elements {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    display: flex;
  }
  footer .servicesContainer .elementsContainer .elements p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  footer .servicesContainer .elementsContainer .elements .sumSign {
    display: none;
  }
  footer .servicesContainer .elementsContainer-1 {
    grid-area: elementsContainer-1;
  }
  footer .servicesContainer .elementsContainer-2 {
    grid-area: elementsContainer-2;
  }
  footer .servicesContainer .elementsContainer-3 {
    grid-area: elementsContainer-3;
  }
  footer .servicesContainer .elementsContainer-4 {
    grid-area: elementsContainer-4;
  }
  footer .servicesContainer .elementsContainer-5 {
    grid-area: elementsContainer-5;
  }
  footer .servicesContainer .elementsContainer-6 {
    grid-area: elementsContainer-6;
  }
  footer .servicesContainer .elementsContainer-7 {
    grid-area: elementsContainer-7;
  }
  footer .servicesContainer .elementsContainer-8 {
    grid-area: elementsContainer-8;
  }
  footer .servicesContainer .elementsContainer-9 {
    grid-area: elementsContainer-9;
  }
  footer .servicesContainer .elementsContainer-10 {
    grid-area: elementsContainer-10;
  }
  footer .servicesContainer .container__menu {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  footer .servicesContainer .container__menu a {
    margin-bottom: 10px;
  }
  footer .bottom {
    width: 100%;
    min-height: 10vh;
    height: auto;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 40% 60%;
    grid-template-areas: "textContainer textContainer" "legalsContainer country";
    justify-content: center;
    align-items: center;
  }
  footer .bottom .textContainer {
    grid-area: textContainer;
    height: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(190, 190, 190);
  }
  footer .bottom .legalsContainer {
    flex-direction: row;
    align-items: center;
  }
  footer .bottom .legalsContainer .copyrightContainer {
    width: auto;
    height: auto;
  }
  footer .bottom .legalsContainer .linksContainer {
    width: auto;
    height: auto;
  }
  footer .bottom .legalsContainer .linksContainer .SS {
    margin-left: 20px;
  }
  footer .bottom .country {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.index__section-promotional1 {
  width: 100%;
  min-height: 80vh;
  height: auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index__section-promotional1 .textContainer {
  width: 100%;
  min-height: 30vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index__section-promotional1 .textContainer .title {
  font-size: 50px;
}
.index__section-promotional1 .textContainer .paragraph {
  margin-bottom: 20px;
  font-size: 30px;
}
.index__section-promotional1 .linksContainer {
  width: 100%;
  min-height: auto;
  text-align: center;
}
.index__section-promotional1 .linksContainer .link {
  font-size: 20px;
  margin-right: 20px;
}
.index__section-promotional1 .imgContainer {
  width: 100%;
  min-height: 60vh;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-image: url(../scss/img/index/iPhone14.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.index__section-promotional2 {
  width: 100%;
  min-height: 80vh;
  height: auto;
  background-color: #0b002b;
}
.index__section-promotional2 .imgContainer {
  width: 100%;
  min-height: 60vh;
  background-image: url(../scss/img/index/appleGift.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.index__section-promotional2 .textContainer {
  width: 100%;
  min-height: 30vh;
  height: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index__section-promotional2 .textContainer .title {
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.index__section-promotional2 .textContainer .paragraph {
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
}
.index__section-promotional2 .link {
  font-size: 20px;
}

.index__section-promotional3 {
  width: 100%;
  min-height: 85vh;
  height: auto;
  margin-top: 10px;
  background-color: #0f0f0f;
}
.index__section-promotional3 .textContainer {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
}
.index__section-promotional3 .textContainer .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.index__section-promotional3 .textContainer .title i {
  font-size: 40px;
}
.index__section-promotional3 .textContainer .subtitle {
  font-size: 20px;
  color: red;
  letter-spacing: 0.1cm;
}
.index__section-promotional3 .textContainer .paragraph {
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
}
.index__section-promotional3 .link {
  font-size: 20px;
  margin-right: 20px;
}
.index__section-promotional3 .imgContainer {
  width: 100%;
  height: 50vh;
  margin-top: 30px;
  background-image: url(../scss/img/index/appleWatch.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.index__section-promotional4 {
  width: 100%;
  min-height: auto;
  margin-top: 10px;
}
.index__section-promotional4 article {
  width: 100%;
  min-height: 85vh;
  position: relative;
}
.index__section-promotional4 article .textContainer {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index__section-promotional4 article .textContainer .title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.index__section-promotional4 article .textContainer .paragraph {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  text-align: center;
}
.index__section-promotional4 article .link {
  font-size: 20px;
  margin-right: 20px;
}
.index__section-promotional4 article .imgContainer {
  width: 100%;
  height: 55vh;
}
.index__section-promotional4 .article-1 {
  background-color: #0f0f0f;
}
.index__section-promotional4 .article-1 .imgContainer {
  background-image: url(../scss/img/index/iPhonePro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.index__section-promotional4 .article-2 {
  background-color: white;
}
.index__section-promotional4 .article-2 .textContainer .title, .index__section-promotional4 .article-2 .textContainer .paragraph {
  color: black;
}
.index__section-promotional4 .article-2 .imgContainer {
  background-image: url(../scss/img/index/iPad.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.index__section-promotional4 .article-3 {
  background-color: white;
}
.index__section-promotional4 .article-3 .textContainer .title, .index__section-promotional4 .article-3 .textContainer .paragraph {
  color: black;
}
.index__section-promotional4 .article-3 .textContainer .subtitle {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2mm;
  color: rgb(255, 115, 0);
}
.index__section-promotional4 .article-3 .imgContainer {
  background-image: url(../scss/img/index/watchUltra.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.index__section-promotional4 .article-4 {
  background-color: #0f0f0f;
}
.index__section-promotional4 .article-4 .imgContainer {
  background-image: url(../scss/img/index/airPodsPro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.index__section-promotional4 .article-5 .textContainer .title, .index__section-promotional4 .article-5 .textContainer .paragraph {
  color: black;
}
.index__section-promotional4 .article-5 .textContainer .paragraphContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.index__section-promotional4 .article-5 .textContainer .paragraphContainer .paragraph {
  margin-bottom: 0px;
}
.index__section-promotional4 .article-5 .textContainer .paragraphContainer img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.index__section-promotional4 .article-5 .imgContainer {
  background-image: url(../scss/img/index/macBookAir.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.index__section-promotional4 .article-6 {
  background-color: white;
}
.index__section-promotional4 .article-6 .textContainer .title, .index__section-promotional4 .article-6 .textContainer .paragraph {
  color: black;
}
.index__section-promotional4 .article-6 .imgContainer {
  background-image: url(../scss/img/index/appleCard.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.carouselContainer {
  width: 100%;
  height: 85vh;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.carouselContainer .carousel {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.carouselContainer .carousel .slidetrack {
  width: calc((75vw + 10px) * 5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselContainer .carousel .slidetrack .slide {
  width: 75vw;
  height: 100%;
  margin: 0 5px 0 5px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.carouselContainer .carousel .slidetrack .slide .textContainer {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "appleTV " "descriptionContainer";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.carouselContainer .carousel .slidetrack .slide .textContainer .appleTV {
  grid-area: appleTV;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselContainer .carousel .slidetrack .slide .textContainer .appleTV .bi, .carouselContainer .carousel .slidetrack .slide .textContainer .appleTV p {
  font-size: 30px;
  color: white;
}
.carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer {
  grid-area: descriptionContainer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer .type {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  text-align: center;
}
.carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer .description {
  margin-bottom: 0px;
  font-size: 15px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer .button {
  width: 150px;
  height: 45px;
  padding: 0 10px 0 10px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
}
.carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer .button p {
  font-weight: bold;
}
.carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer .button .iconContainer {
  width: 15px;
  height: 15px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer .button .iconContainer svg {
  width: 10px;
  height: 10px;
  fill: white;
}
.carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer .button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.carouselContainer .carousel .slidetrack .slide .shadowEffect {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 40%, rgb(0, 0, 0) 100%);
}
.carouselContainer .carousel .slidetrack .slide1 {
  background-image: url(../scss/img/index/carousel/img1.jpg);
  background-size: cover;
  background-position: center;
}
.carouselContainer .carousel .slidetrack .slide2 {
  background-image: url(../scss/img/index/carousel/img2.jpg);
  background-size: cover;
  background-position: center;
}
.carouselContainer .carousel .slidetrack .slide3 {
  background-image: url(../scss/img/index/carousel/img3.jpg);
  background-size: cover;
  background-position: center;
}
.carouselContainer .carousel .slidetrack .slide4 {
  background-image: url(../scss/img/index/carousel/img4.png);
  background-size: cover;
  background-position: center;
}
.carouselContainer .carousel .slidetrack .slide5 {
  background-image: url(../scss/img/index/carousel/img5.jpeg);
  background-size: cover;
  background-position: center;
}
.carouselContainer .controls {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
}
.carouselContainer .controls .prevButton, .carouselContainer .controls .nextButton {
  width: 12.5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.carouselContainer .buttonsContainer {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
}
.carouselContainer .buttonsContainer .circlesContainer {
  width: 90%;
  height: 100%;
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carouselContainer .buttonsContainer .circlesContainer .circle {
  width: 8px;
  height: 8px;
  margin: 0 5px 0 5px;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  cursor: pointer;
}
.carouselContainer .buttonsContainer .playAndPauseContainer {
  width: 10%;
  height: 100%;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.carouselContainer .buttonsContainer .playAndPauseContainer .bi {
  font-size: 20px;
  cursor: pointer;
}
.carouselContainer .buttonsContainer .playAndPauseContainer .bi-pause-circle {
  display: none;
}

@media screen and (min-width: 735px) {
  .index__section-promotional4 {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 90vh);
    grid-template-areas: "article-1 article-2" "article-3 article-4" "article-5 article-6";
    justify-items: center;
    align-items: flex-end;
  }
  .index__section-promotional4 article {
    width: 90%;
  }
  .index__section-promotional4 .article-1 {
    grid-area: article-1;
  }
  .index__section-promotional4 .article-2 {
    grid-area: article-2;
  }
  .index__section-promotional4 .article-3 {
    grid-area: article-3;
  }
  .index__section-promotional4 .article-4 {
    grid-area: article-4;
  }
  .index__section-promotional4 .article-5 {
    grid-area: article-5;
  }
  .index__section-promotional4 .article-6 {
    grid-area: article-6;
  }
  .carouselContainer .carousel .slidetrack .slide .textContainer {
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    grid-template-areas: "descriptionContainer appleTV";
  }
  .carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer {
    width: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-self: flex-end;
  }
  .carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer .type {
    order: 1;
    margin-right: 10px;
  }
  .carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer .description {
    order: 2;
    margin-bottom: 0px;
  }
  .carouselContainer .carousel .slidetrack .slide .textContainer .descriptionContainer .button {
    order: 0;
    margin-right: 40px;
  }
  .carouselContainer .carousel .slidetrack .slide .textContainer .appleTV {
    align-self: flex-end;
  }
}/*# sourceMappingURL=style.css.map */